*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: gray;
}
div{
    text-align: center;
    font-size: 30pt;
    padding: 100pt;
    margin: 0pt;
    color: white;
    background-color: gray;
    font-style: italic;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 40pt;
    padding: 100pt;
    margin: 0pt;
    color: white;
    background-color: black;
}
h2{
    font-size: 20pt;
    margin: 10pt;
    font-weight: bold;
    background-color: lightgray;
}
p, ul, li{
    font-style: normal;
    font-size: 20pt;
    padding-left: 10pt;
    background-color: lightgray;
}
ul, li{
    text-align: left;
}
strong{
    background-color: lightgray;
}
.content{
    background-color: lightgray;
}
nav, a{
    background-color: #222222;
    color: gray;
    padding: 10pt;
    text-align: center;
}
footer{
    background-color: #222222;
    padding: 10pt;
    padding-bottom: 30pt;
}
footer p{
    background-color: #222222;
}
a{
    text-decoration: none;
}
a:hover{
    color: coral;
}
.ipLocator{
    background-color: white;
    color: lightgray;
    border-radius: 10pt;
    font-size: 20pt;
    font-weight: bold;
}
.ipLocator:hover, button:hover{
    background-color: coral;
    color: white;
}
img{
    width: 40%;
    margin-top: -70pt;
}
.apply{
    color: gray;
    background-color: lightgray;
    border-radius: 10pt;
    font-size: 20pt;
}
input{
    background-color: lightgray;
    border: 3pt solid gray;
    color: gray;
    border-radius: 10pt;
    text-align: center;
    width: 150pt;
    height: 30pt;
    font-size: 20pt;
    margin-left: 20pt;
}
button{
    background-color: white;
    border-width: 0pt;
    color: lightgray;
    border-radius: 10pt;
    text-align: center;
    width: 200pt;
    height: 40pt;
    font-size: 20pt;
    margin-bottom: 10pt;
}
label, form{
    background-color: lightgray;
}
#email{
    width: 40%;
}
textarea{
    border: 3pt solid gray;
    border-radius: 10pt;
    background-color: lightgray;
    width: 60%;
    height: 100pt;
    margin: 20pt;
    margin-bottom: -50pt;
    font-size: 20pt;
    padding: 10pt;
}