*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: gray;
}
div{
    text-align: center;
    font-size: 30pt;
    padding: 100pt;
    margin: 0pt;
    color: white;
    background-color: gray;
    font-style: italic;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 40pt;
    padding: 100pt;
    margin: 0pt;
    color: white;
    background-color: black;
}
h2{
    font-size: 20pt;
    margin: 10pt;
    font-weight: bold;
    background-color: lightgray;
}
p{
    font-style: normal;
    font-size: 20pt;
    padding-left: 10pt;
    background-color: lightgray;
}
.content{
    background-color: lightgray;
}